<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superhero page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/superhero.css">
</head>
<body>
<%- include('../partials/header') %>

    <div class="container">
        <form action="/superhero" method="POST" class="mb-4">
            <div class="input-group mb-3">
                <input type="text" name="name" class="form-control" placeholder="Enter superhero name" required>
                <button class="btn btn-primary" type="submit"><%= t('Search') %></button>
            </div>
        </form>

        <% if (superhero) { %>
            <%- include('superhero-details') %>
        <% } %>
    </div>

</body>
</html>