body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* более нежный оттенок серого */
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #fff; /* белый фон */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* мягкая тень */
}

.container {
    width: 90%; /* увеличиваем ширину контейнера */
    max-width: 1200px; /* устанавливаем максимальную ширину */
    margin: auto;
    background-color: #fff;
    padding: 30px; /* увеличиваем внутренний отступ */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* скругляем углы */
}

h2 {
    color: #333;
}

.mb-3 label {
    font-weight: bold;
}

.btn-primary {
    background-color: #6c757d; /* более нежный синий */
    border-color: #6c757d;
    color: #fff; /* белый текст */
}

.table {
    margin-top: 30px; /* увеличиваем отступ сверху */
}

/* Дополнительные стили для элементов формы или других элементов */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #6c757d; /* изменение цвета при фокусе */
}

/* Цветовая схема для таблицы */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2; /* светло-серый фон для заголовков */
    text-align: left;
}

/* Стили для ссылок */
a {
    color: #007bff; /* синий цвет ссылок */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* подчеркивание при наведении */
}
